/* Sensible base styles / variables for configuration */
:root {
    --background: hsl(220, 10%, 15%);
    --border: hsl(220, 10%, 20%);
    --text: hsl(0, 0%, 100%);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--background);
    color: var(--text);

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    position: relative;
}

button {
    background-color: transparent;
    border: 1px solid var(--border);
    color: var(--text);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-family: inherit;
}

button:hover {
    background-color: var(--border);
}

a:link, a:visited {
    color: inherit;
}